* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #1F2937;
}

header {
  background-color: #1F2937;
  
}

.menu-container {
  
  display: flex;
  width: 70%;
  height: 60px;
  margin: auto;
   
}

.box-logo {
  color: #F9FAF8;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  
}

.box-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

ul {
  font-weight: 300;
  list-style: none;
  display: flex;
  gap: 30px;
}

a {
  text-decoration: none;
  color: #F9FAF8;
}

.hero-container {
  background-color: #1F2937;
  width: 70%;
  
  
  display: flex;
  margin: auto;
  padding: 150px 0px;
}

.box-left {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.box-right {
  display: flex;
  flex: 1;
}

.box-left > h1 {
  font-size: 3rem;
  color: #F9FAF8;
  
}

.box-left > p {
  color: #E5E7EB;
  font-size: 18px;
}

button {
  width: 120px;
  margin-top: 10px;
  padding: 5px;
  border: 0;
  border-radius: 5px;
  background-color: #3882F6;
  color: #E5E7EB;
  font-size: 18px;
  cursor: pointer;
}

.box-right {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-right p {
  color: #E5E7EB;
}

.container-blanco {
  background-color: white;
  height: 450px;
}

.container-blanco h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: co;
  padding: 50px;
  font-size: 36px;
  color: #1F2937;
}

.cajitas {
  display: flex;
  justify-content: center;
  gap: 50px 
}

.white-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #3882F6;
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

.parrafos-container {
  display: flex;
  justify-content: center;
  gap: 60px;

  
}

.parrafo-flex {
  width: 150px;
  justify-content: center;
  text-align: center;
  padding-top: 8px;
  color: rgb(81, 81, 81);
  font-weight: bold;
  
}

.fondo-gris {
  background-color: #E5E7EB;
  height: 400px;
  display: flex;
  
}

.parrafo-gris {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  align-items: center;
  margin: auto;
}

.italic {
  color: #1F2937;
  font-size: 36px;
  font-style: italic;
}

.cita {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
  width: 90%;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

.fondo-blanco {
  background-color: white;
  height: 350px;
  display: flex;
}

.blue-box {
  background-color: #3882F6;
  width: 65%;
  height: 140px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 80px;
}

span {
  color: #F9FAF8;
  font-weight: bold;
  font-size: 1.2rem;
  
}

.blue-box p {
  color: rgb(206, 206, 206);
}

.border-white {
  border: 2px solid white;

}

.container-footer {
  margin: auto;
  text-align: center;
  padding: 35px;
}

.parrafo-footer {
  color: rgb(206, 206, 206);
}